@tailwind base;
@tailwind components;
@tailwind utilities;

/* KITA PAKAI CSS BIASA SAJA AGAR TIDAK ERROR SAAT BUILD */
body {
  background-color: white;
  margin: 0;
  padding: 0;
  /* Font smoothing agar teks tajam seperti desain */
  -webkit-font-smoothing: antialiased;
}
